* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 20px;
    background-image: url(../Resources/Images/nabil-farook-1088584-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

p {
    padding:2%;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

/*******
*NAV BAR
*******/
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 20px;
    margin: 0px 10px;
    text-decoration: none;
    background-color: none;
}

nav a:hover {
    text-decoration: underline;
}

.vertical_nav button{
    position: absolute;
    float: left;
    background-color: transparent;
    outline: none;
    border: none;
    color: black;
    padding: 24px 24px;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-family: "Montserrat", "Arial", sans-serif;
    color: whitesmoke;
}

.vertical_nav button:hover{
    text-decoration: underline;
}

.button1 button {
     top: 50%; 
}

.button2 button{
    top: 60%;
}


/***********
* BACKGROUND
***********/

.background_container {
    position: relative;
}

.title_text {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:whitesmoke;
    font-family: 'Zilla Slab Highlight', sans-serif;
}

.title_text h1 {
        font-size: 5vw;
}

/*********
*CONTENTS
*********/

.heading h1 {
    text-align: center;
    text-decoration: overline;  
}

.heading p {
    text-align: center;
    
}

/********
* FOOTER
********/
/*
footer {
    background-color: none;
    width: 100%
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer_container {
    postion: relative;
}


.footer_left {
    padding: 2%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    color: whitesmoke;
}

.footer_center {
    padding: 2%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,0%);
    color: whitesmoke;
}

.footer_left ul {
    list-style-type: none;
    overflow: hidden;
}

.footer_left a {
    text-decoration: none;
    color: white;
}

.footer_left a:hover {
    text-decoration: underline;
}
*/